ament_copyright==0.17.4
ament_flake8==0.17.4
ament_pep257==0.17.4
numpy
PyAudio
pydantic_ai
pytest==7.4.4
rclpy==7.1.9
rosidl_parser==4.6.7
setuptools==68.1.2
std_msgs==5.3.6
psutil
tornado
pymongo
pillow
cbor2
pocket-tts
